<h1><%=@user.username%></h1>

<h2>Backs</h2>

<%@user.backers.each do |backer|%>  
    <li><%=backer.username + " "%>backed you</li>
<%end%>

<%@user.backees.each do |backee|%>
    <li>You backed<%=" "%><%=backee.username%></li>
<%end%>

<h2>Snaps</h2>

<%@snaps.each do |snap|%>
    <li><%=link_to (snap.post_user_name + "'s post"), post_path(snap.post)%></li>
<%end%>

<h2>Slaps</h2>

<%@slaps.each do |slap|%>
    <li><%=link_to (slap.post_user_name + "'s post"), post_path(slap.post)%></li>
<%end%>

<h2>Comments</h2>
<%@comments.each do |comment|%>
    <li><%=link_to (comment.post_user_name + "'s post"), post_path(comment.post)%></li>
    <ul>
        <li><%=comment.content%></li>
    </ul>
    <br>
<%end%>
