<body class="body">
<div class="content">
<h1>My Feed</h1>
<%@user.backee_posts.each do |post|%>
    <label><strong><%=link_to post.user_name, user_path(post.user)%></strong></label>

    <p><img src='<%=post.image_url%>' alt=“Random Image”></p>

    <p>Snaps:<%=post.snap_number + " "%>Slaps:<%=post.slap_number%> </p>

    <%if !post.snapped_user?(@user) && !post.slapped_user?(@user)  %>
        <%= button_to "Snap", {controller: :snaps, action:"create", post_id:post.id, origin:feed_path}, :method => :post,class: "btn  btn-success"%> <br>
        <%= button_to "Slap", {controller: :slaps, action:"create", post_id:post.id, origin:feed_path}, :method => :post,class: "btn  btn-danger"%> <br>

    <%elsif post.snapped_user?(@user)%>
        <%= button_to "Unsnap","/snaps/:id", controller: :snaps, action:"destroy",params:{post_id:post.id,origin:feed_path},method: :delete,class: "btn btn-success"%> <br>

    <%elsif post.slapped_user?(@user)%>
        <%= button_to "Unslap", "/slaps/:id", controller: :snaps, action:"destroy", params:{post_id:post.id, origin:feed_path}, method: :delete,class: "btn  btn-danger"%> <br>

    <%end%>

    <p><%=post.description%></p>

    <%= button_to "View Post", post_path(post), controller:'posts', action:'show', method:'get',class: "btn btn-default"%> <br>
    
    <br>
<%end%>
</div>
</body>