<h1><%=@profile.username%></h1>

<%if @user == @profile %>
<%= button_to "Logout", "/sessions", controller:'sessions', action:'destroy', method:'delete'%>
<%elsif @user.backed_profile?(@profile)%>
<h2 style="color:green">Backed</h2>
<%= button_to "Forget this artist", forget_path, controller:"users",action:"forget",method:"post", id:@user.id%>
<%else%>
<%= button_to "Back this artist", back_path, controller:"users",action:"back",method:"post", id:@user.id%>
<%end%>

<br>

<%@profile.posts.each do |post|%>
<label><strong><%=link_to post.user_name, user_path(post.user)%></strong></label>
<p><img src='<%=post.image_url%>' alt="Random Image"></p>
<p>Snaps:<%=" "+ post.snap_number%><%=" "%>Slaps:<%=" "+post.slap_number%></p>
<p><%=post.description%></p>

<br>

<%end%>