<h1><%=@profile.username%></h1>

<%if @user == @profile %>
    <%= button_to "Logout", "/sessions", controller:'sessions', action:'destroy', method:'delete'%>
<%elsif @user.backed_profile?(@profile)%>
    <h2 style="color:green">Backed</h2>
    <%= button_to "Forget this artist", forget_path, controller:"users",action:"forget",method:"post", id:@user.id%>
<%else%>
    <%= button_to "Back this artist", back_path, controller:"users",action:"back",method:"post", id:@user.id%>
<%end%>

<br>

<%@profile.posts.each do |post|%>

    <label><strong><%=link_to post.user_name, user_path(post.user)%></strong></label>

    <p><img src='<%=post.image_url%>' alt="Random Image"></p>

    <p>Snaps:<%=" "+ post.snap_number%><%=" "%>Slaps:<%=" "+post.slap_number%></p>

    <%if !post.snapped_user?(@user) && !post.slapped_user?(@user)  %>
        <%= button_to "Snap", {controller: :snaps, action:"create", post_id:post.id, origin:user_path(@profile)}, :method => :post%>
        <%= button_to "Slap", {controller: :slaps, action:"create", post_id:post.id, origin:user_path(@profile)}, :method => :post%>

    <%elsif post.snapped_user?(@user)%>
        <%= button_to "Unsnap","/snaps/:id", controller: :snaps, action:"destroy",params:{post_id:post.id,origin:user_path(@profile)},method: :delete%>

    <%elsif post.slapped_user?(@user)%>
        <%= button_to "Unslap", "/slaps/:id", controller: :snaps, action:"destroy", params:{post_id:post.id, origin:feed_path}, method: :delete%>
    <%end%>

    <%if @user == @profile %>
        <%= button_to "Edit Post", edit_post_path(post), controller:"posts",action:"edit",method:"get"%>
        <%= button_to "Delete Post", {controller: :posts, action:"destroy", id:post.id}, :method => :delete%>
    <%end%>

    <p><%=post.description%></p>

    <%= button_to "View Post", post_path(post), controller:'posts', action:'show', method:'get'%>

    <br>

<%end%>