<body class="body">

<div class="content">

<label> <h3> <strong><%=link_to @post.user_name.capitalize, user_path(@post.user)%></strong> </h3> </label>

<p><img src='<%=@post.image_url%>' alt="Random Image"></p>

<p>Snaps:<%=" "+ @post.snap_number%><%=" "%>Slaps:<%=" "+@post.slap_number%></p>

<%if !@post.snapped_user?(@user) && !@post.slapped_user?(@user)  %>
        <%= button_to "Snap", {controller: :snaps, action:"create", post_id:@post.id, origin:post_path(@post)}, :method => :post, class: "btn  btn-success"%> <br>
        <%= button_to "Slap", {controller: :slaps, action:"create", post_id:@post.id, origin:post_path(@post)}, :method => :post, class: "btn  btn-danger"%> <br>

    <%elsif @post.snapped_user?(@user)%>
        <%= button_to "Unsnap","/snaps/:id", controller: :snaps, action:"destroy",params:{post_id:@post.id,origin:post_path(@post)},method: :delete, class: "btn  btn-success"%> <br>

    <%elsif @post.slapped_user?(@user)%>
        <%= button_to "Unslap", "/slaps/:id", controller: :snaps, action:"destroy", params:{post_id:@post.id, origin:post_path(@post)}, method: :delete, class: "btn btn-danger"%> <br>

<%end%>

<p><%=@post.description%></p>

<%@post.comments.each do |comment|%>
    <li><%="#{comment.user_name}" + ": " + comment.content%></li>
    <%if @user == comment.user%>
    <%= button_to "Edit Comment", edit_comment_path(comment), controller:'comments', action:'edit', method:'get', class: "btn   btn-success"%> <br>
    <%= button_to "Delete Comment", {controller: :comments, action:"destroy", id:comment.id, post_id:@post.id}, :method => :delete, class: "btn  btn-danger"%> <br>
    <%end%>
<%end%>

<br>

<%=form_with url:comments_path {controller:comments} do |f|%>
<%=f.text_field :content, placeholder:"Add a comment"%>
<%=f.hidden_field :post_id, value:"#{@post.id}"%>
<%=f.submit value:"Post Comment",class: "btn   btn-success"%>
<%end%>

</div>

</body>